 # Task 1. Working with data

## Project contains:
* [1.1  Download the data set movie_metadata.csv.](#1-bullet)
* [1.2. The duration column contains data on the film length. How many missing values are there
in this column.](#2-bullet)
* [1.3. Replace the missing values in the duration column with the median value for this column..](#3-bullet)
* [1.4. What is the average film length? Give the answer as a floating-point figure rounded to
two decimal places](#4-bullet)
* [1.5. Create a movie_duration_category column, which will contain three categories
depending on the film length](#5-bullet)
* [1.6.  Build a summary table for films released after 2000 (inclusively), to list the numbers of
films.](#6-bullet)
* [1.7. How many films between 90 minutes and two hours long were released in 2008?](#7-bullet)
* [1.8. The plot_keywords column holds keywords characterizing the film's plot. Using the data
in this column, create a column called movie_plot_category, to contain four categories
depending on the key words in the column](#8-bullet)
* [1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the
average rating of films depending on which movie_plot_category category they belong to.](#9-bullet)
* [1.10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint](#10-bullet)
* [1.11. The budget column contains the film's budget. What is the median budget for all the films
listed? Give the answer as an integer.](#11-bullet)

<a id='1-bullet'></a>

### 1.1  Download the data set movie_metadata.csv.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Iljam/Downloads/movie_metadata.csv')

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

In [4]:
df.shape

(5043, 28)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     5043 non-null   object
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

<a id='2-bullet'></a>

### 1.2. Missing values in column 'Duration'

In [6]:
df['duration'].isna().sum()

15

Answer : in this column there is about 15 missing values.

<a id='3-bullet'></a>

### 1.3. Replacing NaN-type values filling median

In [7]:
df['duration'].median()

103.0

In [8]:
df['duration'] = df['duration'].fillna(df['duration'].median())

<a id='4-bullet'></a>

### 1.4. Average length of film.

In [9]:
round(df['duration'].mean(),2)

107.19

<a id='5-bullet'></a>

### 1.5. Movie_duration_category

In [10]:
# For creatin better and simplier world,  let's make once extra series object for thi function
movie_category_series = []
def duration_category(dataframe):
    duration_cat = dataframe['duration']
    for i in range(len(dataframe)):
        if duration_cat[i] < 90:
            movie_category_series.append("1. <90")
        elif duration_cat[i] >90 and duration_cat[i] < 120:
            movie_category_series.append("2. 90-120")
        else:
            movie_category_series.append("3. >120")

In [11]:
duration_category(df)

In [12]:
df['movie_duration_category'] = movie_category_series

Checking results of our function.

In [13]:
df['movie_duration_category'].value_counts()

2. 90-120    2945
3. >120      1306
1. <90        792
Name: movie_duration_category, dtype: int64

Seems getting done

<a id='6-bullet'></a>

### 1.6. Summary table for films after 2000

Little temporary thing is to fillna in title_year (task isn't argued with that, so in this testing task I can use that). In real case,  we should use another method dependin on circumstances

In [14]:
df['title_year'] = df['title_year'].fillna(0)
df['title_year'] = df['title_year'].astype('int64', errors = 'ignore')

In [15]:
summary_table = pd.pivot_table(df[df.title_year > 2000],index = 'title_year', columns = 'movie_duration_category')

In [16]:
summary_table

                        actor_1_facebook_likes                              \
movie_duration_category                 1. <90     2. 90-120       3. >120
title_year
2001                               3027.172414   6162.836364   9271.687500
2002                               2272.888889   6549.342857   8653.968750
2003                               2505.677419   5497.755102   5925.125000
2004                               3240.166667  10793.269841   7595.327586
2005                               4039.096774   6724.242424   8076.333333
2006                               4513.425000   7280.659091   8322.059701
2007                               4309.516129   6641.241667   9312.226415
2008                               6626.965517   6821.868056   8347.653846
2009                              14474.642857   6278.732919   7808.210526
2010                               2115.153846   8314.149068   5481.558140
2011                               1768.114286   7842.141791  11325.425926
2012                               2190.560976   8612.647059  10143.227273
2013                              11189.891892   6406.351145  11964.750000
2014                               3191.638889   6303.130435   8031.400000
2015                               2339.441176   6015.293233  11834.586207
2016                               7041.500000   8305.300000  16782.142857

                        actor_2_facebook_likes                            \
movie_duration_category                 1. <90    2. 90-120      3. >120
title_year
2001                                761.862069  1212.472727  1909.041667
2002                                924.166667  1078.964286  3354.468750
2003                                589.096774  1676.693878  1824.375000
2004                                438.866667  1130.603175  2001.103448
2005                                866.129032  1498.659091  2754.157895
2006                               1442.425000  1413.795455  1860.149254
2007                                829.032258  1287.683333  2813.471698
2008                                740.724138  2196.805556  1613.692308
2009                               4573.023810  1647.540373  2057.052632
2010                                604.807692  2073.291925  2849.139535
2011                                799.542857  1965.805970  4046.574074
2012                                459.292683  2210.000000  4856.431818
2013                               1828.351351  1931.798450  3720.529412
2014                                879.222222  1234.465839  3424.745455
2015                                671.303030  1313.932331  4691.465517
2016                               1169.125000  2519.828571  2644.678571

                        actor_3_facebook_likes                            \
movie_duration_category                 1. <90    2. 90-120      3. >120
title_year
2001                                371.464286   508.181818   821.270833
2002                                430.833333   459.517986  1047.031250
2003                                417.548387   505.938776   708.975000
2004                                314.200000   528.492063   828.965517
2005                                237.709677   484.290076  1350.789474
2006                                624.050000   462.816794   683.686567
2007                                299.419355   696.400000   916.226415
2008                                368.821429   807.861111  1088.115385
2009                                358.928571   565.248447   969.912281
2010                                395.269231   793.149068  1431.883721
2011                                360.142857   725.425373  1118.277778
2012                                269.951220  1049.154412  2746.136364
2013                                363.675676   769.550388  1298.852941
2014                                308.888889   486.149068  1760.927273
2015                                266.818182   690.795455  1770.689655
2016                                341.500000   540.542857  1155.607143

                        aspect_ratio  ... movie_facebook_likes  \
movie_duration_category       1. <90  ...              3. >120
title_year                            ...
2001                        1.985517  ...          5177.791667
2002                        1.945278  ...          3142.750000
2003                        1.922000  ...          4521.600000
2004                        1.964400  ...          3418.793103
2005                        1.866538  ...          2733.827586
2006                        1.933243  ...          3390.522388
2007                        1.946429  ...          5199.698113
2008                        1.990370  ...          4521.076923
2009                        2.070000  ...          7850.456140
2010                        2.045000  ...         15845.651163
2011                        2.472500  ...         23306.018519
2012                        2.566875  ...         57427.250000
2013                        3.293333  ...         44168.073529
2014                        1.967895  ...         40469.818182
2015                        2.011250  ...         43199.103448
2016                        4.880000  ...         28285.714286

                        num_critic_for_reviews                          \
movie_duration_category                 1. <90   2. 90-120     3. >120
title_year
2001                                 81.275862  101.936937  156.375000
2002                                 90.722222  110.652482  163.062500
2003                                 96.741935  118.479592  149.425000
2004                                 76.965517  127.396825  166.263158
2005                                106.300000  130.962121  203.684211
2006                                 90.550000  141.305344  170.328358
2007                                119.275862  153.932773  202.377358
2008                                103.551724  159.513889  217.509804
2009                                118.357143  166.818750  221.648148
2010                                115.760000  199.335404  211.642857
2011                                133.657143  228.525926  270.603774
2012                                119.170732  208.257353  415.704545
2013                                 81.571429  217.215385  312.161765
2014                                 64.911765  160.975000  284.403846
2015                                 51.645161  143.123077  284.732143
2016                                 88.142857  150.260870  175.142857

                        num_user_for_reviews                          \
movie_duration_category               1. <90   2. 90-120     3. >120
title_year
2001                              187.517241  302.441441  777.395833
2002                              231.416667  313.276596  709.875000
2003                              208.548387  300.938776  673.925000
2004                              136.733333  347.238095  561.965517
2005                              153.451613  300.689394  728.344828
2006                              178.125000  316.681818  497.000000
2007                              185.517241  237.858333  469.226415
2008                              206.689655  209.465278  450.823529
2009                              109.452381  179.106250  369.754386
2010                              103.730769  223.329193  292.904762
2011                               97.277778  212.940741  295.148148
2012                               88.121951  178.522059  682.886364
2013                               56.750000  202.503817  414.955882
2014                               64.972222  167.131250  419.740741
2015                               35.718750  131.242424  367.842105
2016                               59.142857  142.542857  333.000000

                        num_voted_users
movie_duration_category          1. <90     2. 90-120        3. >120
title_year
2001                       29368.896552  60421.036036  181213.916667
2002                       43789.666667  56089.517730  195178.281250
2003                       39679.709677  69937.204082  174244.025000
2004                       30224.800000  86671.000000  139199.896552
2005                       38543.677419  53592.500000  156108.689655
2006                       35056.700000  76022.424242  124479.044776
2007                       47427.000000  79231.200000  157204.037736
2008                       42734.758621  83446.604167  159754.730769
2009                       38390.880952  68571.409938  128355.491228
2010                       37356.384615  91668.732919  132785.116279
2011                       28216.277778  94092.800000  133677.666667
2012                       29226.902439  80230.264706  282894.090909
2013                       14169.263158  83297.977099  176787.764706
2014                       16865.111111  64577.621118  155058.872727
2015                        6848.588235  39853.671642  121663.137931
2016                        6893.875000  29421.014286   54300.178571

[16 rows x 42 columns]

Entire table for summary is ready for use.

<a id='7-bullet'></a>

### 1.7. Films of 2008

In [17]:
df.query('title_year == 2008 & movie_duration_category == "2. 90-120"')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category
12,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,Action|Adventure,...,English,UK,PG-13,200000000.0$,2008,412.0,6.7,2.35,0,2. 90-120
58,Color,Andrew Stanton,421.0,98.0,475.0,522.0,Fred Willard,1000.0,223806889.0,Adventure|Animation|Family|Sci-Fi,...,English,USA,G,180000000.0$,2008,729.0,8.4,2.35,16000,2. 90-120
72,Color,Rob Cohen,264.0,112.0,357.0,595.0,Brendan Fraser,5000.0,102176165.0,Action|Adventure|Fantasy|Horror|Thriller,...,English,USA,PG-13,145000000.0$,2008,3000.0,5.2,2.35,0,2. 90-120
116,Color,Peter Berg,318.0,102.0,532.0,979.0,Charlize Theron,10000.0,227946274.0,Action|Drama,...,English,USA,PG-13,150000000.0$,2008,9000.0,6.4,2.35,0,2. 90-120
131,Color,Byron Howard,225.0,96.0,59.0,699.0,Diedrich Bader,17000.0,114053579.0,Adventure|Animation|Comedy|Drama|Family,...,English,USA,PG,150000000.0$,2008,759.0,6.9,1.85,0,2. 90-120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4665,Color,Daniel Davila,5.0,95.0,0.0,167.0,Melora Walters,940.0,NaN,Drama,...,English,USA,NaN,850000.0$,2008,188.0,7.4,1.78,18,2. 90-120
4684,Color,Oliver Blackburn,114.0,99.0,4.0,201.0,Nichola Burley,1000.0,18378.0,Crime|Drama|Horror|Thriller,...,English,UK,R,900000.0$,2008,233.0,5.2,1.85,0,2. 90-120
4804,Color,Tom Vaughan,148.0,101.0,12.0,149.0,Andrew Daly,642.0,80276912.0,Comedy|Romance,...,English,USA,PG-13,35000000.0$,2008,171.0,6.1,2.35,0,2. 90-120
4874,Color,Rachel Goldenberg,5.0,93.0,7.0,73.0,Mark Hengst,349.0,NaN,Drama|Musical,...,English,USA,G,0.0$,2008,168.0,2.5,1.85,777,2. 90-120
4888,Color,Nicolas Winding Refn,225.0,92.0,0.0,146.0,James Lance,27000.0,104792.0,Action|Biography|Crime|Drama,...,English,UK,R,0.0$,2008,161.0,7.1,1.85,22000,2. 90-120

Our answer is 144!

<a id='8-bullet'></a>

### 1.8 Movie_plot_category

In [18]:
love = df["plot_keywords"].str.contains(r"\blove\b")
death = df["plot_keywords"].str.contains(r"\bdeath\b")

df["movie_plot_category"] = \
    np.where(love & death,
             "love_and_death",
             np.where(love,
                      "love",
                      np.where(death,
                               "death", 
                               "other")))

In [19]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category,movie_plot_category
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0$,2009,936.0,7.9,1.78,33000,3. >120,other
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0$,2007,5000.0,7.1,2.35,0,3. >120,other
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0$,2015,393.0,6.8,2.35,85000,3. >120,other
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0$,2012,23000.0,8.5,2.35,164000,3. >120,other
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,0.0$,0,12.0,7.1,NaN,0,2. 90-120,love

In [20]:
print(df['movie_plot_category'].value_counts())

other             4476
love               380
death              176
love_and_death      11
Name: movie_plot_category, dtype: int64

<a id='9-bullet'></a>

### 1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect theaverage rating of films depending on which movie_plot_category category they belong to.

In [21]:
summary_table_1 = pd.pivot_table(df,index = 'movie_plot_category', values = 'imdb_score')

In [22]:
summary_table_1

                     imdb_score
movie_plot_category
death                  6.519886
love                   6.389211
love_and_death         6.672727
other                  6.443007

<a id='10-bullet'></a>

### 1.10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint

In [23]:
round(df.query('"love" in movie_plot_category')['imdb_score'].mean(),2)

6.39

<a id='11-bullet'></a>

### 1.11. The budget column contains the film's budget. What is the median budget for all the films listed? Give the answer as an integer.

In [24]:
df['budget'] = df['budget'].str.split('.',expand=True)
df['budget'] = df['budget'].astype('float')

In [25]:
int(df['budget'].median())

15000000